.action-cart{
    display: flex;
    justify-content: flex-start;
}

.length-product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f34040;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.content-cart{
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
    height: 600px;
    background-color: #202020;
    transition: .5s;
    overflow: scroll;
}

.content-total-finish-compra{
    padding: 5px;
}

.content-pay{
    padding: 5px;
    text-align: center;
    background-color: #53b46b;
}

.pay{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.content-total{
    background-color: #1c63a5;
}

.total{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.casper-cart{
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.cart{
    height: 90px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #323232;
}

.cart-img{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-img img {
    width: 80%;
}

.body-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.cart-name{
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.cart-price{
    color: #53b46b;
    font-weight: bold;
    text-align: center;
}

.delete-cart{
    width: 10%;
    height: 30px;
    border: none;
    background-color: #f34040;
    color: #fff;
    font-size: 20px;
}


