<div class="action-cart">
    <img src="../../assets/cart.png" (click)="showCart()" class="icon-cart">
    <span class="length-product">{{cartService.productos.length}}</span>
</div>
<div *ngIf="verCarrito" class="content-cart">
   <div class="content-total-finish-compra">
        <div class="content-pay">
            <a routerLink="/pagar" class="pay">Finalizar Compra</a>
        </div>
        <div class="content-total">
            <p class="total">Total: ${{ cartService.calcularTotal() }}</p>
        </div>
    </div>
    <div class="casper-cart">
        <div *ngFor="let product of cartService.productos" class="cart">
            <div class="cart-img">
                <img src="../../assets/{{product.IMG}}" alt="">
            </div>
            <div class="body-cart">
                <p class="cart-name">{{ product.name }}</p>
                <p class="cart-price">${{product.PRICE}}</p>
            </div>
            <button (click)="eliminarProducto(cartService.productos.indexOf(product))" class="delete-cart">x</button>
        </div>
    </div>
</div>