<div class="article-products">
    <div class="content-publicidad">
        <img src="../../assets/propaganda.png">
    </div>
    <h3 class="novedades-imperdibles">NOVEDADES IMPERDIBLES</h3>
    <div class="content-products">
        <div *ngFor="let producto of products" class="productos"> 
            <div class="header-productos">
                <img src="../../assets/{{producto.IMG}}" alt="">
            </div>
            <div class="footer-productos">
                <h3>{{ producto.name }}</h3>
                <h4><span>$</span>{{ producto.PRICE }}</h4>
                <button (click)="agregarProducto(producto)" class="button-agregar-carrito">Agregar al carrito</button>    
            </div>
        </div>
        <div id="mensaje" class="oculto mensaje">
            
        </div>
        <div id="mensajeEliminar" class="">

        </div>
    </div>
</div>